
        
<!DOCTYPE html>
<html>
    <head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Cedarville+Cursive&family=Covered+By+Your+Grace&family=DM+Sans:opsz,wght@9..40,700&family=Gloria+Hallelujah&family=IBM+Plex+Sans:wght@400;500;600;700&family=Livvic:wght@300;400;500;600;700;900&family=Meow+Script&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Tangerine:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="static/flaticon_mycollection.css">
        <script src="static/jquery.min.js"></script>



		<link rel="stylesheet" href="https://scientias.in/xsdef/collection2/style.css?m=1">
		<link href="static/bootstrap.min.css" rel="stylesheet" >
        <script src="static/bootstrap.min.js" ></script>
		<link rel="stylesheet" href="https://scientias.in/xsdef/collection2/style1.css?m=1">
        <style>
            
        </style>
    </head>

    <body class="container">
		<div class="row ">
			<div class="col-3 menus">
				<h3 class="mhead">Counterfeiting Menus<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid status_toggle middle sidebar-toggle"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg></h3>
				<h6>Masters</h6>
				<ul class="menu-container">
					<li class="">
						 <a class="" href="/Dashboard"><i class="flaticon-digital"></i> Dashboard </a>
					</li>
					<li class="">
						<a class="" href="/ProductListing"><i class="flaticon-product"></i> Product </a>
					</li>
					<li class="">
						<a class="" href="/ManufacturerListing"><i class="flaticon-manufacturing-1"></i> Manufacturer </a>
					</li>
					<li class="">
						<a class="" href="/TransporterListing"><i class="flaticon-transportation"></i> Transporter </a>
					</li>
					<li class="">
						<a class="" href="/VehicleListing"><i class="flaticon-ribbon"></i> Vehicle </a>
					</li>
				</ul>
				<h6>Transactions</h6>
				<ul class="menu-container">
					<li class="">
						<a class="" href="/ProductionReceiptsListing"><i class="flaticon-order"></i> Production Receipts </a>
					</li>
					<li class="">
						<a class="" href="/DispatchListing"><i class="flaticon-transportation-1"></i> Dispatch </a>
					</li>
					<li class="">
						<a class="" href="/ProductTrackingListing"><i class="flaticon-counterfeit-1"></i> Product Tracking </a>
					</li>
				</ul>
				<h6>Masters</h6>
				<ul class="menu-container">
					<li class="">
						<a class="" href="/BlockChainGeneration"><i class="flaticon-cubes"></i> Blockchain Generation</a>
					</li>
					<li class="">
						<a class="" href="/BlockChainReport"><i class="flaticon-supply-chain"></i> Blockchain Report</a>
					</li>
				</ul>
				<h6>Systems</h6>
				<ul class="menu-container">
					<li class="">
						<a class="" href="/RoleListing"><i class="flaticon-gear-assembly"></i> Roles</a>
					</li>
					<li class="">
						<a class="" href="/UsersListing"><i class="flaticon-employee"></i> Users</a>
					</li>
					<li class="">
						<a class="" href="/ChangePassword"><i class="flaticon-information"></i> Change Password</a>
					</li>
					<li class="">
						<a class="" href="/"><i class="flaticon-exit"></i> Logout</a>
					</li>
				</ul>
			
			</div>
			<div class="col-9 ml25pe">
				<div class="content">
					<h2 class="text-center pc">Product Counterfeiting</h2>
					{%  block content %}
					
					{% endblock  %}


				</div>
			</div>
		</div>

    </body>

</html>

                